<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dreams</title>

    <!-- bootstrap cdn -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <main role="main">
      <div class="jumbotron text-center">
        <h1 class="heading-1"> What did Twitter dream about yesterday?</h1>
        <p class="lead font-italic">Last updated {{ date }}</p>
      </div>
        <div class="container">
          <div class="row">
            <!-- start loop -->
            {% for dream in dream_list %}
              <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-4 box-shadow">
                  <div class="card-body">
                    <p class="card-text">
                      {{ dream['text']|safe }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted"><a href="https://twitter.com/i/web/status/{{ dream['tweet_id'] }}" target="_blank">UTC {{ dream['date_time'][10:16] }}</a></small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </main>


  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>